#
# Android Cluster Toolkit - pool.rb
#
# (c) 2012-2015 Joshua J. Drake (jduck)
#

$devices[:pool] = [
=begin
  #
  # The following Hash entry describes one device in the cluster.
  #
  # Required fields:
  #   :name     -- a human friendly name, chosen by you
  #   :serial   -- the device's serial number (from 'adb devices')
  #
  # Optional fields:
  #   :disabled -- disable the device from use
  #
  # Use the ./scan.rb script to generate a basis for new entries.
  #
  # Use ./reconfig.rb to generate devices/connected.rb based on which devices
  # are actually connected.
  #
  {
    :name => 'g1', # htc g1
    :serial => 'HT333GZ31337',
  },
=end
]

