#
# Android Cluster Toolkit - devices-orig.rb
#
# (c) 2012-2015 Joshua J. Drake (jduck)
#

$devices = [
=begin
  #
  # The following Hash entry describes one device in the cluster.
  #
  # The fields:
  #   :name    -- a human friendly name, chosen by you
  #   :serial  -- the device's serial number (from 'adb devices')
  #
  # Use the ./scan.rb script to generate a basis for new entries.
  # Use ./reconfig.rb to turn this file into devices.rb
  #
  {
    :name => 'g1', # htc g1
    :serial => 'HT333GZ31337',
  },
=end
]

